body {
	margin: 0;
	padding: 0;
}
.container {
	width: 750px; 
	margin: 0 auto; 
	padding: 0; 
	height: 100%;
	box-shadow: 1px 2px 1px #ddd;
	position: relative;
}
.row {
	width: 100%; 
	height: auto;
}
.row:after,.row:before,.container:after,.container:before {
	display: table;
	content: ''
}
.row:after,.container:after {
	clear: both;
}


header {
	min-height: 120px;
	border-bottom: 1px solid #ddd;
}
.content {

}
.leftbar {
	width: 25%; 
	float: left;
	min-height: 500px;
	border-right: 1px solid #ddd;
}
.leftbar .navmenu {
	margin: 0; 
	list-style:none;
	padding: 0;
}
.leftbar .navmenu li {
	padding: 10px;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}
.main-content {
	width: 70%;
	margin-left: 4%;
	float: left;
}

.booklist {
	margin: 0;
	list-style:none;
	padding: 10px;
}
.booklist li {
	 margin: 5px;
}
.booklist li a {
	font-size: 18px;
	text-decoration: none;
	color: #222;
	border: 1px solid #efefef; 
	display: block;
	padding: 5px;
}

footer {
	min-height: 100px;
	border-top: 1px solid #ddd;
}